/* #f5ba13 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
  width: 100%;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.heading{
  margin-top: 30px;
  color:#f5ba13;
  text-align: center;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.notescontainer{
  padding: 0 5% 0 6.2%;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  height: 160px;
  margin: 16px;
  margin-top: 25px;
  float: left;
  position: relative;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* .note button {
  position: relative;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  border-radius: 7px;
  padding: 5px;
  height: 36px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 5px #ccc;
  margin-top: 17px;
  margin-bottom: 8px;
} */

.del{
  position: absolute;
  color: #f5ba13;
  border: none;
  border-radius: 7px;
  padding: 5px;
  height: 36px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 5px #ccc;
  bottom: 16px;
  right: 15px;
  /* margin-right: 10px; */
  /* margin-top: 17px;
  margin-bottom: 8px; */
  /* float: right; */
}

.upd{
  font-weight:500;
  text-decoration: none;
  position: absolute;
  color: white;
  background: #f5ba13;
  border: none;
  border-radius: 7px;
  padding: 8px;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 2px 5px #ccc;
  bottom: 16px;
  left: 15px;
  /* float: left; */
  /* margin-bottom:8px; */
  /* margin-bottom: 5px; */
  /* margin-right: 10px;
  margin-top: 17px; */
  /* padding-top: 7px; */
}

.updbtn{
  width: fit-content;
  position: absolute;
  right: 35px;
  bottom: -18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 7px;
  text-decoration: none;
  box-shadow: 2px 5px 2px 5px #ccc;
  padding: 9px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.addnote{
  text-decoration: none;
  width:fit-content;
  margin-top: 20px;
  display: block;
  color: white;
  background: #f5ba13;
  border: none;
  border-radius: 7px;
  margin-bottom:8px;
  padding: 8px;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 2px 5px #ccc;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.addbtn {
  position: absolute;
  right: 35px;
  bottom: -18px;
  font-family: "Montserrat", sans-serif;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 7px;
  text-decoration: none;
  box-shadow: 2px 5px 2px 5px #ccc;
  padding: 9px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.buttonss{
  display: flex;
  justify-content: space-between;
}







.containersignup{
  background-color: #eee;
}

.signup-form{
  color: #222;
  overflow: hidden;
  margin-left: 75px;
  margin-top: 27px;
  margin-right: 75px;
  padding-left: 34px;
}

.form-title{
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #f5ba13;
  font-size: 33px;
  text-align: center;
}

#register-form{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  margin: 15px auto 20px auto;
  color: #222;
  width: 37%;
  padding: 15px;
  padding-top: 23px;
}

.form-group{
  border-bottom: solid #2222221a;
  font-size: 15px;
  color: #222;
  /* position: relative; */
  margin-bottom: 25px;
  overflow: hidden;
  }

.form-button{
  color: #222;
  overflow: hidden;
  margin-bottom: 0;
} 

.form-submit{
  text-decoration: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: inline-block;
  background: #f5ba13;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 12px 34px;
  border-radius: 5px;
  font-size: 19px;
  cursor: pointer;
}

.linktologin{
  color: #2222227d;
  padding-bottom: 9px;
}

.linktologin a{
  color: #00007660;
}